* {
    margin: 0;
    padding: 0;
    background-color: #4B9BC7;
    text-decoration: none;
    list-style: none;
}
p{
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 50px;
}
body {
    max-width: 60%;
    margin: auto
}
img {
    margin-top: 10%;
    max-width: 100%;
    height: auto;
}
a {
    color: white;
    text-decoration: underline;
}

  @media (max-width:1000px) {

  body {
    max-width: 80%;
    }

    textarea, input[type=text], input[type=email] {
        font-size: 1em;
    }
    p {
        font-size: 1em;
    }
}
iframe {
  margin-top: 50px;
  margin-left: -30px;
}