* {
    margin: 0;
    padding: 0;
    background-color: #4B9BC7;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
p{
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 30px;
}
body {
    max-width: 60%;
    margin: auto
}
img {
    margin-top: 20%;
    max-width: 100%;
    height: auto;
}
a {
    color: white;
    text-decoration: underline;
}
input[type=text] {
    color: #4B9BC7;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 30px;
    padding: 10px;
    margin:10px 0;
    background-color: white;
    border: none;
    max-width: 100%;
}
textarea {
    color: #4B9BC7;
    font-family: 'Roboto', sans-serif;
    cursor: default;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 30px;
    padding: 10px;
    margin:10px 0;
    background-color: white;
    border: none;
    width: 100%;
    border-radius: 10px;
}
textarea:focus {
    outline-color: #4B9BC7;
}